@charset "UTF-8";

/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
/* button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
} */

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  /* -webkit-appearance: textfield; */
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

body {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
  color: #000;
  line-height: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border-style: none;
  background-color: #fff;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
  background-color: transparent;
}

address {
  font-style: normal;
}

.staybutton {
  border-style: none;
  padding: 16px 32px;
  width: 170px;
  background-color: #978F10;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.staybutton:hover {
  background-color: #CFC249;
}

@media (max-width: 992px) {
  .staybutton {
    padding: 10px 14px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .staybutton {
    padding-top: 6px;
    padding-bottom: 6px;
    column-gap: 6px;
  }
}

@media (max-width: 576px) {
  .staybutton {
    border-radius: 10px;
    padding: 1rem 0;
  }
}

.staybutton__icon {
  width: 22px;
}

@media (max-width: 768px) {
  .staybutton__icon {
    width: 16px;
  }
}

@media (max-width: 576px) {
  .staybutton__icon {
    width: 22px;
  }
}

.staybutton__text {
  font-size: 1rem;
  margin: 0;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .staybutton__text {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .staybutton__text {
    font-size: 1.625rem;
  }
}

@media (max-width: 576px) {
  .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.5s;
  }
}

.nav__link {
  color: #fff;
  font-weight: bold;
}

.nav__link:hover {
  opacity: 0.6;
}

@media (max-width: 576px) {
  .nav__link {
    display: block;
    font-size: 1.625rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .nav__item {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    z-index: 40;
  }

  .nav__item--oheya {
    background-image: url(/oheya/oheya01.jpg);
    text-align: left;
    padding-left: 20px;
  }

  .nav__item--oryouri {
    background-image: url(/oryouri/menu01.jpg);
    text-align: right;
    padding-right: 20px;
  }

  .nav__item--onsen {
    background-image: url(/onsen/onsen01.jpg);
    text-align: left;
    padding-left: 20px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 30px;
  margin: 0;
  padding-left: 0;
}

@media (max-width: 576px) {
  .nav__list {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 250px;
    row-gap: 5px;
    margin-top: 9rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  .nav__bg {
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    background-image: url(/global/bg02.png);
    background-position: center top;
    z-index: 30;
  }
}

.hamburger {
  width: 24px;
  height: 40px;
  position: relative;
  margin-left: auto;
  cursor: pointer;
  /* margin-right: 20px; */
  z-index: 60;
}

.hamburger__icon {
  transition: .4s;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.hamburger__icon:nth-child(1) {
  top: 30%;
}

.hamburger__icon:nth-child(2) {
  top: 50%;
}

.hamburger__icon:nth-child(3) {
  top: 70%;
}

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .header {
    justify-content: space-between;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .header__logo-main {
    width: 100%;
  }
}

.header__logo-sub {
  display: none;
}

@media (max-width: 992px) {
  .header__logo-wrapper {
    max-width: 160px;
  }
}

@media (max-width: 768px) {
  .header__logo-wrapper {
    max-width: 120px;
  }
}

.header__logo-wrapper:hover {
  opacity: 0.6;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 120px;
}

@media (max-width: 768px) {
  .header__nav {
    display: contents;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .header__button {
    width: 250px;
  }
  .header__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .header__right {
    height: auto;
    /* position: absolute; */
    top: 460px;
    z-index: 40;
    /* left: 50%;
    translate: -50%; */
    margin-block: 4rem auto;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  padding-inline: 20px;
  margin-inline: auto;
}

.header__hamburger {
  display: none;
}

@media (max-width: 576px) {
  .header__hamburger {
    display: block;
  }
}

.header--sub {
  background-color: #fff;
}

.header--sub .header__logo-main {
  display: none;
}

.header--sub .header__logo-sub {
  display: block;
}

@media (max-width: 768px) {
  .header--sub .header__logo-sub {
    width: 100%;
  }
}

.header--sub .nav__link {
  color: #000;
}

@media (max-width: 576px) {
  .header--sub .nav__link {
    color: #fff;
  }
}

.header--sub .hamburger__icon {
  background-color: #000;
}

.top {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
}

.top__image {
  background-image: url(/top/mainbg01.jpg);
  opacity: 1;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
  animation: zoom-in 18s infinite;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(1, 1);
  }

  3% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    z-index: -10;
  }

  100% {
    opacity: 0;
    z-index: -10;
    transform: scale(1.2, 1.2);
  }
}

.top__image:nth-of-type(2) {
  z-index: -20;
  background-image: url(/top/mainbg02.jpg);
  animation-delay: 6s;
  opacity: 0;
}

.top__image:nth-of-type(3) {
  z-index: -20;
  background-image: url(/top/mainbg03.jpg);
  animation-delay: 12s;
  opacity: 0;
}

.top__text {
  margin: 0;
  writing-mode: vertical-rl;
  position: absolute;
  top: 33.5185185185%;
  left: 66.015625%;
  color: #fff;
  font-size: 2.125rem;
  line-height: 2.5;
  font-weight: bold;
  letter-spacing: 0.25em;
}

@media (max-width: 768px) {
  .top__text {
    position: static;
    font-size: 1.75rem;
  }
}

.intro {
  height: 681px;
  width: 100%;
  background-image: url(/global/bg.jpg);
}

@media (max-width: 768px) {
  .intro {
    height: auto;
  }
}

.intro__title {
  margin: 0;
  writing-mode: vertical-rl;
  font-size: 1.75rem;
  line-height: 2.1785714286;
  letter-spacing: 0.5125em;
  font-weight: normal;
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 1.375rem;
    writing-mode: horizontal-tb;
    line-height: 2;
  }
}

@media (max-width: 576px) {
  .intro__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .intro__title span {
    display: none;
  }
}

.intro__text {
  margin: 0;
  padding-top: 89px;
  writing-mode: vertical-rl;
  line-height: 2.375;
  letter-spacing: 0.375em;
  text-orientation: upright;
  padding-right: 2.5px;
  padding-left: 2.5px;
}

@media (max-width: 768px) {
  .intro__text {
    padding: 0;
    margin-top: 20px;
    font-size: 0.875rem;
    writing-mode: horizontal-tb;
    line-height: 2;
  }
}

@media (max-width: 576px) {
  .intro__text {
    font-size: 0.75rem;
  }
}

.intro__name {
  margin: 0;
  writing-mode: vertical-rl;
  font-size: 1.375rem;
  line-height: 2.1785714286;
  padding-left: 10.0847457627%;
  letter-spacing: 0.4375em;
  text-align: right;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .intro__name {
    padding: 0;
    margin-top: 20px;
    font-size: 1.125rem;
    writing-mode: horizontal-tb;
  }
}

@media (max-width: 576px) {
  .intro__name {
    font-size: 1rem;
  }
}

.intro__body {
  width: 94.6610169492%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 61px;
  padding-right: 1.7708333333%;
}

@media (max-width: 768px) {
  .intro__body {
    padding: 0;
    flex-direction: column;
    justify-content: start;
    max-width: 476px;
    margin-top: 20;
  }
}

.intro__inner {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .intro__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.button {
  padding: 0;
  border: solid #707070 1px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.button__link {
  font-size: 1rem;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 198px;
  color: #000;
}

@media (max-width: 992px) {
  .button__link {
    color: #fff;
    font-weight: bold;
  }
}

.button__link:hover {
  background-color: #000;
  color: #fff;
}

.media {
  max-width: 100%;
  width: 1920px;
  display: flex;
}

@media (max-width: 1280px) {
  .media {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .media {
    display: block;
  }
}

@media (max-width: 992px) {
  .media--oheya {
    background-image: url(/top/oheya-top.jpg);
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 992px) {
  .media--oryouri {
    background-image: url(/top/menu-top.jpg);
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 992px) {
  .media--onsen {
    background-image: url(/top/onsen-top.jpg);
    background-position: center;
    background-size: cover;
  }
}

.media__button {
  margin-top: 66px;
}

@media (max-width: 992px) {
  .media__button {
    margin-top: 44px;
  }
}

.media__text {
  margin: 0;
  line-height: 2;
  margin-top: 52px;
}

@media (max-width: 992px) {
  .media__text {
    font-weight: bold;
    text-shadow: 3px 4px 3px rgb(61, 70, 70);
  }
}

@media (max-width: 768px) {
  .media__text {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .media__text br {
    display: none;
  }
}

.media__title {
  margin: 0;
  font-size: 2.25rem;
  line-height: 1.7222222222;
  font-weight: normal;
}

@media (max-width: 992px) {
  .media__title {
    font-weight: bold;
    text-shadow: 2px 2px 1px #000;
  }
}

@media (max-width: 768px) {
  .media__title {
    font-size: 1.25rem;
  }
}

.media__body {
  text-align: left;
}

@media (max-width: 992px) {
  .media__body {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 100px;
    padding-left: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .media__body {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.media__image {
  width: 100%;
}

.media__image-wrapper {
  /* max-width: 54.6%; */
  /* margin: 0; */
  /* margin-right: 137px; */
  display: flex;
  align-items: center;
  overflow: hidden;
  /* height: 545px; */
  /* z-index: -20; */
  max-width: 50%;
}

@media (max-width: 1280px) {
  .media__image-wrapper {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .media__image-wrapper {
    display: none;
  }
}

.media--reverse {
  flex-direction: row-reverse;
}

.media--reverse .media__button {
  margin-top: 34px;
}

@media (max-width: 992px) {
  .media--reverse .media__body {
    margin-top: 0;
  }
}

.media--reverse .media__image-wrapper {
  margin-right: 0;
  margin-left: 174px;
}

@media (max-width: 1280px) {
  .media--reverse .media__image-wrapper {
    margin-left: 0;
  }
}

.contents {
  padding-top: 106px;
  padding-bottom: 78px;
}

@media (max-width: 992px) {
  .contents {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contents__media {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
}

@media (max-width: 992px) {
  .contents__media {
    margin-top: 0;
  }
}
.contents__inner {
  display: flex;
  flex-direction: column;
  row-gap: 122px;
}

@media (max-width: 1280px) {
  .contents__inner {
    row-gap: 0;
  }
}

.section-top {
  text-align: center;
  width: fit-content;
  margin-inline: auto;
}

.section-top__image {
  margin-inline: auto;
}

.section-top__title {
  margin: 0;
  font-size: 2.25rem;
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .section-top__title {
    font-size: 1.875rem;
  }
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__text {
  margin: 0;
  line-height: 2;
}

@media (max-width: 1280px) {
  .card__text {
    font-size: 0.875rem;
  }
}

.card__title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: normal;
}

@media (max-width: 1280px) {
  .card__title {
    font-size: 1.125rem;
  }
}

.card__body {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card__image {
 width: auto;
 height: auto;
}
.card__image-wrapper {
  margin: 0;
  /* max-height: 209px; */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.recommend {
  height: 775px;
  background-image: url(/global/bg02.png);
  background-position: center;
  background-size: cover;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .recommend {
    height: auto;
  }
}

@media (max-width: 992px) {
  .recommend br {
    display: none;
  }
}

.recommend__item {
 max-width: 355px;
}

@media (max-width: 768px) {
  .recommend__item {
    width: 100%;
  }
}

.recommend__wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1.5rem 2.5rem;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .recommend__wrapper {
    grid-auto-flow: row;
    align-items: center;
  }
}

.recommend__inner {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .recommend__inner {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.column {
  background-color: #F6F6F6;
  height: 130px;
  display: flex;
  column-gap: 30px;
  padding: 16px 0 13px 10px;
  transition: 0.2s;
}

.column:hover {
  transform: scale(1.07, 1.07);
}

@media (max-width: 768px) {
  .column {
    height: auto;
    min-height: 90px;
  }
}

.column__text {
  margin: 0;
  line-height: 2;
}

@media (max-width: 768px) {
  .column__text {
    font-size: 0.75rem;
  }
}

@media (max-width: 1200px) {
  .column__text br {
    display: none;
  }
}

.column__time {
  margin: 0;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .column__time {
    font-size: 0.75rem;
  }
}

.column__body {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  padding-right: 35px;
}

@media (max-width: 768px) {
  .column__body {
    padding-right: 10px;
  }
}

.column__image {
  height: 100px;
}

@media (max-width: 768px) {
  .column__image {
    height: 70px;
  }
}

.column__image-wrapper {
  margin: 0;
  max-width: 103px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .column__image-wrapper {
    max-width: 72px;
  }
}

.news {
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .news {
    padding-bottom: 30px;
  }
}

.news__tab {
  margin: 0;
  min-width: 4em;
  cursor: pointer;
  position: relative;
}

.news__tab:hover {
  font-weight: bold;
}

.news__category {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 53px;
  margin-top: 47px;
}

@media (max-width: 768px) {
  .news__category {
    margin-top: 17.5px;
  }
}

.news__link {
  color: #000;
}

.news__item {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
}

@media (max-width: 768px) {
  .news__item {
    width: 100%;
    max-width: 355px;
  }
}

.news__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-left: 0;
  margin-top: 3rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .news__list {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: unset;
    margin-top: 1.5rem;
  }
}

.news__inner {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  height: 697px;
}

@media (max-width: 768px) {
  .news__inner {
    height: auto;
    padding-top: 30px;
  }
}

.access {
  background-image: url(/global/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 1381px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .access {
    height: auto;
    padding-bottom: 30px;
  }
}

.access__text {
  margin: 0;
  font-size: 1rem;
  line-height: 2;
}

.access__text a {
  pointer-events: none;
  text-decoration: none;
  color: #000;
}

.access__text--bold {
  font-weight: bold;
}

@media (max-width: 768px) {
  .access__text {
    line-height: 2;
    font-size: 0.875rem;
  }
}

.access__body {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .access__body {
    margin-top: 30px;
    row-gap: 9px;
  }
}

.access__image {
  width: 656px;
}

.access__image-wrapper {
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 370px;
  padding-right: 83px;
  flex: 0 0 auto;
}

@media (max-width: 1200px) {
  .access__image-wrapper {
    flex: 0 1 auto;
  }
}

@media (max-width: 768px) {
  .access__image-wrapper {
    padding-right: 0;
    height: auto;
  }
}

.access__wrapper {
  display: flex;
  margin-top: 83px;
}

@media (max-width: 768px) {
  .access__wrapper {
    flex-direction: column;
  }
}

.access__inner {
  max-width: 100%;
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .access__inner {
    row-gap: 30px;
    padding-top: 30px;
  }
}

.access__map {
  max-width: 100%;
  width: 792px;
  height: 592px;
  aspect-ratio: 4/3;
}

@media (max-width: 1200px) {
  .access__map {
    height: auto;
  }
}

.access__map-wrapper {
  margin: 0;
  margin-top: 70px;
}

.footer {
  background-image: url(/global/bg3.png);
  background-position: center;
  background-size: cover;
}

.footer__link {
  color: #000;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__item {
  margin: 0;
  font-size: 1.125rem;
  line-height: 2.8888888889;
  letter-spacing: 0.25em;
  writing-mode: vertical-rl;
}

.footer__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.footer__logo {
  margin-top: 93px;
}

@media (max-width: 768px) {
  .footer__logo {
    margin-top: 40px;
  }
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__text,
.footer__text--wide {
  margin: 0;
}

.footer__text--wide {
  letter-spacing: 0.18em;
}

.footer__address {
  display: flex;
  column-gap: 16px;
  margin-top: 74px;
}

@media (max-width: 768px) {
  .footer__address {
    margin-top: 40px;
  }
}

.footer__number {
  display: flex;
  column-gap: 14px;
  margin-top: 24px;
  margin-left: 20px;
}

.footer__copyright {
  margin: 0;
  font-size: 0.75rem;
  color: #fff;
}

.footer__copyright-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #000;
}

@media (max-width: 768px) {
  .footer__copyright-wrapper {
    height: 50px;
  }
}

.footer__sitemap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 522px;
}

@media (max-width: 768px) {
  .footer__sitemap {
    height: auto;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.sub-top {
  margin-top: 80px;
  position: relative;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .sub-top {
    height: 400px;
  }
}

@media (max-width: 992px) {
  .sub-top {
    margin-top: 60px;
  }
}

.sub-top__image,
.sub-top__image--onsen,
.sub-top__image--oryouri,
.sub-top__image--oheya {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -20;
}

.sub-top__image--oheya {
  background-image: url(/oheya/oheya-header.jpg);
}

.sub-top__image--oryouri {
  background-image: url(/oryouri/menu-header.jpg);
}

.sub-top__image--onsen {
  background-image: url(/onsen/onsen-header.jpg);
}

.sub-top__title {
  margin: 0;
  font-size: 2.125rem;
  color: #fff;
  font-weight: bold;
}

.sub-article {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 150px;
}

@media (max-width: 1200px) {
  .sub-article {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 768px) {
  .sub-article {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.sub-article__intro {
  margin-top: 88px;
}

.sub-article__contents {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  row-gap: 84px;
}

@media (max-width: 768px) {
  .sub-article__contents {
    row-gap: 42px;
  }
}

.sub-article__table {
  margin-top: 163px;
}

.sub-article--table-in {
  padding-bottom: 96.5px;
}

.breadcrumb__link {
  color: #000;
}

.breadcrumb__link:hover {
  font-weight: bold;
}

.breadcrumb__item {
  margin: 0;
  display: inline-block;
}

.breadcrumb__item::after {
  content: ">";
  color: #000;
  margin-inline: .5em;
}

.breadcrumb__item:last-of-type:after {
  content: "";
}

.breadcrumb__list {
  margin: 0;
  padding-left: 0;
}

.sub-intro {
  text-align: center;
}

.sub-intro__text {
  margin: 0;
  line-height: 2;
}

@media (max-width: 768px) {
  .sub-intro__text {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .sub-intro__text br {
    display: none;
  }
}

.sub-media {
  position: relative;
  display: flex;
  /* height: 438px; */
  /* width: 100%; */
}

@media (max-width: 1200px) {
  .sub-media {
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .sub-media {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sub-media__attention {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 42px;
}

@media (max-width: 1200px) {
  .sub-media__attention {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .sub-media__attention {
    font-size: 0.875rem;
  }
}

.sub-media__text {
  margin: 0;
  line-height: 2;
  margin-top: 41px;
}

@media (max-width: 1200px) {
  .sub-media__text {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .sub-media__text br {
    display: none;
  }
}

@media (max-width: 768px) {
  .sub-media__text {
    font-size: 0.875rem;
  }
}

.sub-media__title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  font-weight: normal;
}

@media (max-width: 768px) {
  .sub-media__title {
    font-size: 1.125rem;
  }
}

.sub-media__body {
  margin-left: 238px;
  margin-top: 57px;
  z-index: -20;
}

@media (max-width: 1200px) {
  .sub-media__body {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 30px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .sub-media__body {
    padding-top: 30px;
    margin-left: 20px;
  }
}

.sub-media__bg {
  overflow: hidden;
  margin-left: auto;
  margin-top: 57px;
  max-width: 100%;
  width: 813px;
  height: 381px;
  background-image: url(/global/bg_sub.png);
  background-position: center;
  background-size: cover;
  z-index: -20;
  display: flex;
}

@media (max-width: 1200px) {
  .sub-media__bg {
    margin-top: 180px;
    padding-top: 150px;
    height: auto;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .sub-media__bg {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    position: static;
  }
}

.sub-media__image {
 aspect-ratio: 1.75/1;
 height: auto;
 object-fit: cover;
}

.sub-media__image-wrapper {
 position: absolute;
 top: 0;
 left: 0;
 margin: 0;
}

@media (max-width: 768px) {
  .sub-media__image-wrapper {
    position: static;
  }
}

.sub-media--reverse .sub-media__body {
  margin-left: 60px;
}

@media (max-width: 1200px) {
  .sub-media--reverse .sub-media__body {
    margin-right: auto;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .sub-media--reverse .sub-media__body {
    margin-right: 20px;
  }
}

.sub-media--reverse .sub-media__bg {
  margin-left: 0;
  margin-right: auto;
}

.sub-media--reverse .sub-media__image-wrapper {
  right: 0;
  left: auto;
}

@media (max-width: 768px) {
  .sub-media--reverse .sub-media__image-wrapper {
    position: static;
  }
}

.table {
  padding-top: 92.5px;
  padding-bottom: 74px;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  overflow: hidden;
}

.table__data,
.table__data--indent {
  margin: 0;
  width: 660px;
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 2.1333333333;
}

@media (max-width: 1200px) {

  .table__data,
  .table__data--indent {
    padding-right: 10px;
    width: 100%;
  }
}

.table__data--indent {
  line-height: 1.4666666667;
  padding-top: 12px;
  padding-bottom: 12px;
}

.table__header {
  margin: 0;
  width: 220px;
  max-width: 100%;
  text-align: left;
  font-weight: normal;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 2.1333333333;
}

@media (max-width: 1200px) {
  .table__header {
    padding-left: 10px;
  }
}

.table__row {
  font-size: 0.9375rem;
  border-bottom: 1px solid #E7E7E7;
  display: flex;
  align-items: start;
}

.table__body {
  border-top: 1px solid #E7E7E7;
  width: 880px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .table__body {
    width: 100%;
  }
}

.table__title {
  margin: 0;
  font-size: 1.625rem;
  font-weight: normal;
  text-align: center;
}

.form {
  animation: fade-in 1s ease;
  width: 550px;
  height: 600px;
  background-color: #fff;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .form {
    width: fit-content;
    height: fit-content;
    max-width: 90%;
  }
}

.form__icon {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #707070;
}

.form__icon:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.form__icon:nth-child(2) {
  transform: rotate(-45deg);
  top: 50%;
}

.form__icon-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.form__close {
  cursor: pointer;
  width: 18px;
  height: 18px;
  padding: 0;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  translate: 50% -50%;
  z-index: 120;
}

.form__title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
  padding-bottom: 25.5px;
  border-bottom: #E7E7E7 solid 1px;
}

.form__name {
  line-height: 1.5;
  margin-top: 12px;
  margin-bottom: 11px;
}

.form__name--first {
  margin-top: 33.5px;
}

@media (max-width: 768px) {
  .form__name--first {
    margin-top: 16px;
  }
}

.form__area {
 font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
 color: #000;
 width: 100%;
 height: 32px;
 background-color: #fff;
 border: 1px solid #E7E7E7;
 border-radius: 0px;
}
.form__area.form__area--picker {
 cursor: pointer;
}

.form__select {
  color: #797878;
}

.form__select option {
  color: #000;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
}

.form__select option:first-child {
  color: #797878;
}

.form__button {
  margin-top: 64px;
  height: 42px;
  width: 198px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px;
  color: #000;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .form__button {
    margin-top: 32px;
  }
}

.form__button:hover {
  background-color: #000;
  color: #fff;
}

.form__body {
  display: flex;
  flex-direction: column;
  z-index: 120;
}

.form__inner {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1.5rem 2rem;
  margin-inline: auto;
}

.inversion {
  background-color: #fff;
  z-index: 20;
}

.inversion .header__logo-main {
  display: none;
}

.inversion .header__logo-sub {
  display: block;
}

@media (max-width: 768px) {
  .inversion .header__logo-sub {
    width: 100%;
  }
}

.inversion .nav__link {
  color: #000;
}

@media (max-width: 576px) {
  .inversion .nav__link {
    color: #fff;
  }
}

.inversion .hamburger__icon {
  background-color: #000;
}

[data-show="true"].nav {
  position: fixed;
  right: 0;
}

[data-show="true"] .nav__bg {
  right: 0;
}

[data-open="true"] .hamburger__icon:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

[data-open="true"] .hamburger__icon:nth-child(2) {
  display: none;
}

[data-open="true"] .hamburger__icon:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

#modal {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 80;
}

[data-show="true"]#modal{
  animation: fade-in var(--duration) ease forwards;
}

[data-show=""]#modal{
  animation: fade-out var(--duration) ease forwards;
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fade-out{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.scroll-rock {
  overflow-y: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-active="true"] {
  text-decoration: underline;
  text-underline-offset: .24em;
}

.aos-fade-in[data-aos=new-animation] {
  opacity: 0;
  transform: translateY(100px);
  transition-property: transform, opacity;
}

@media (max-width: 992px) {
  .aos-fade-in[data-aos=new-animation] {
    transform: translateY(0);
    opacity: 0;
  }
}

.aos-fade-in[data-aos=new-animation].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 992px) {
  .aos-fade-in[data-aos=new-animation].aos-animate {
    opacity: 1;
  }
}